

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 95%;
	margin: 0 auto;
}

/*typography
=================================*/
.title {
	font-size: 1.5rem;
	color: #EAEAEA;
	margin-bottom: 1.5em;
}


/*buttons*/

.button {
	display: inline-block;
	font-size: 1.15rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .25em 1.75em;
}

.button-accent {
	color: #AD974F;
	border-color: #AD974F;
}

.button-accent:hover,
.button-accent:focus {
	background: #EAEAEA;
}

/*header
=================================*/

header {
	position: absolute;
	left: 0;
	right: 0;
	margin-top: 1em;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8rem;
	padding: .5em;
	color: white;
}

nav a:hover,
nav a:focus {
	color: #DDD;
}

/*home-hero
=================================*/

.home-hero {
	background-image: url(images/model6.jpg);
	background-size: cover;
	padding: 10em 0;
}






